.img-cartao{
    min-height: 200px;
    max-height: 200px;
    min-width: 100%;
}

.text-cartao{
    height: 70px;
    overflow: hidden;
}

.rodape-cartao{
    color: #614ea6;
    height: 35px;
}

.btn-detalhes{
    width: 100%;
    background-color: #FFF;
    color: #614ea6;
}

.btn-detalhes:hover{
    background-color: #f21667;
    color: #FFF;
}